<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bucles</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

<div id="app">
  <ul v-for="(i, index) in numeros" :key="index">
    <li v-if="i%2===0">{{ i }} par </li>
    <li v-else>{{ i }} impar </li>
  </ul>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
        numeros:[1,2,3,4,5,6,7,8]
    },
  });
</script>

</body>
</html>
