<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Modelo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.producto }}</td>
                <td>{{ producto.modelo }}</td>
                <td>{{ producto.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>