{% extends 'home.html' %}

{% block container %}
  <div>
    <h1>Crear nuevo Producto
    <a href="{{ url_for('catalog.create_product') }}">Formulario</a>
  </h1>
  {% for product_id in products.pageItems  %}
      <div>
        <h2>
          <a href="{{ url_for('catalog.product', id=product_id) }}">{{ products.pageItems[product_id].name }}</a>
          <small> -> Precio (€): {{ products.pageItems[product_id].price }} - 
          Categoría: {{ products.pageItems[product_id].category }}</small>
        </h2>
      </div>
    {% endfor %}
    
    
    {% if products.prevPage %}
      <a href="{{ url_for('catalog.products', page=products.prevPage) }}">
        {{"<< Previous Page"}}
      </a>
    {% else %}
      {{"<< Previous Page"}}
    {% endif %} |
    {% if products.nextPage %}
      <a href="{{ url_for('catalog.products', page=products.nextPage) }}">
        {{"Next page >>"}}
      </a>
    {% else %}
      {{"Next page >>"}}
    {% endif %}
  </div>
{% endblock %}