body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #3498db;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
}

img {
    width: 100px;
    height: 100px;
}

.actual, .pronostico {
    width: 98%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #2980b9;
    border-radius: 10px;
}
.actual{
    display: flex;
    flex-direction: row;
}

.actual h1 {
    margin-bottom: 10px;
}
.form{
    flex: auto;
}
.form label {
    display: block;
    margin-bottom: 5px;

}

.form input {
    display: flex;
    flex-direction: column;
    width: calc(30%);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form button {
    padding: 10px 20px;
    background-color: #1d007b84;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form button:hover {
    background-color: rgb(0, 234, 255);
    color: black;
}
.tiempoHoy{
    flex: auto;
}
.tempMaxMin{
flex: auto;
}


/* Style for the table */
table {
    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    font-size: 24px;
    margin-bottom: 10px;
    font-style: italic;
}

thead {
    background-color: #100060;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #16a085;
}

.card img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.card h2 {
    font-size: 16px;
    margin: 0;
}

.card p {
    margin: 5px 0;
}
